
<div class="container about align-items-center d-flex">
    <div class="row ">
        <div class="col-lg-5 col-md-6 mb-4 ">
            <img src="https://i.stack.imgur.com/VnYkw.gif" class="img-fluid mx-auto d-block " alt="Image">
        </div>
        <div class="col-lg-7 col-md-6 mb-4 text-white ps-5">
            <h3 style="font-size: 32px;">SIMONE <span class="coloring">NAPOLITANO</span></h3>
            <h3 class="pb-4 about-me" style="font-size: 18px;"><span style="color: #A2A2A2;">Creative</span> Developer</h3>
            
            <p class="pt-4 text-white-50" style="font-size: 15px;">
                My name is <span class="text-white">Simone Napolitano.</span> I'm a Front-end Developer,
                and I'm very passionate and dedicated to my work.
                With many years experience as a Front-end Developer,
                I have acquired the skills and knowledge.
            </p>
            <button type="button" class="learn-more" data-bs-toggle="modal" data-bs-target="#exampleModal">Learn More</button>
        </div>
    </div>
    
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0 ">
                <button type="button" class="btn close-button border border-white my-3 mx-3" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-lg" style="color: white;"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <!-- Left column (col-3) -->
                        <div class="col-lg-4 col-md-12 col-sx">
                            <div class="container">
                            <img src="https://i.stack.imgur.com/VnYkw.gif" class="img-fluid mx-auto d-block" style="border-radius: 50%; width: 50%;" alt="Image">
                            <h3 class="pt-4 pb-2" style="font-size: 19px; color: white; text-align: center;">SIMONE <span class="coloring">NAPOLITANO</span></h3>
                            <h3 class="text-white" style="font-size: 15px; text-align: center;"><span style="color: #A2A2A2;">Creative</span> Developer</h3>

                            <ul class="list-group list-group-flush py-4">
                                <li class="list-group-item bg-transparent" style="font-size: 14px;"><i class="bi bi-person-fill bi-listing"></i> Simone N.</li>
                                <li class="list-group-item bg-transparent" style="font-size: 14px;"><i class="bi bi-calendar-event-fill bi-listing"></i> 28/09/2002</li>
                                <li class="list-group-item bg-transparent" style="font-size: 14px;"><i class="bi bi-geo-alt-fill bi-listing"></i> Italy, To</li>
                                <li class="list-group-item bg-transparent" style="font-size: 14px;"><i class="bi bi-telephone-fill bi-listing"></i> +39 334-....</li>
                                <li class="list-group-item bg-transparent" style="font-size: 14px;"><i class="bi bi-envelope-fill bi-listing"></i> email@e.com</li>
                              </ul>
                              <button type="button" class="contact-btn" data-bs-dismiss="modal" aria-label="Close"><a class="nav-link" routerLinkActive="active-link" [routerLink]="'/contact'">Get in touch</a></button>
                            </div>
                            </div>
                        
                        <div class="col-lg-8 col-md-12 " style="max-height: 70vh; overflow-y: auto;">
                            <div class="container px-4">
                                <h3 class="pt-4 pb-3 about-me" style="font-size: 18px; color: white;">About <span class="coloring">Me</span></h3>
                                <p class="text-white-50" style="font-size: 15px;">
                                    My name is <span class="text-white">Simone Napolitano.</span> I'm a Front-end Developer,
                                    and I'm very passionate and dedicated to my work.
                                    With many years experience as a Front-end Developer,
                                    I have acquired the skills and knowledge.
                                </p>
                                <h3 class="pt-4 pb-3 about-me" style="font-size: 18px; color: white;">Quality <span class="coloring">Services</span></h3>
                                <ul class="list-group list-group-flush py-4">
                                    <li class="list-group-item bg-transparent border-0" > <i class="bi bi-caret-right-fill pe-3 bi-listing"></i> Website Development</li>
                                    <li class="list-group-item bg-transparent border-0"><i class="bi bi-caret-right-fill pe-3 bi-listing"></i> Responsive content</li>
                                    <li class="list-group-item bg-transparent border-0"><i class="bi bi-caret-right-fill pe-3 bi-listing"></i> available on all devices</li>
                                    <li class="list-group-item bg-transparent border-0"><i class="bi bi-caret-right-fill pe-3 bi-listing"></i> etc...</li>
                                </ul>
                                <h3 class="pt-4 pb-3 about-me" style="font-size: 18px; color: white;">Programming <span class="coloring">Skills</span></h3>
                               
                                <div class="space mt-4 text-white-50 d-flex justify-content-between">
                                    <span>Vue.JS</span>
                                    <span>95%</span>
                                </div>                                
                                <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 95%"></div>
                                </div>
                                
                                <div class="space mt-4 text-white-50 d-flex justify-content-between">
                                    <span>Angular</span>
                                    <span>80%</span>
                                </div>
                                <div class="progress my-2" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 80%"></div>
                                  </div>
                                 
                                  <div class="space mt-4 text-white-50 d-flex justify-content-between">
                                    <span>JavaScript</span>
                                    <span>90%</span>
                                </div>
                                  <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 90%"></div>
                                  </div>
                            
                                  <h3 class="pt-5 pb-3 about-me container-fluid" style="font-size: 18px; color: white;">Language <span class="coloring">Skills</span></h3>
                                  <ul class="list-group list-group-flush py-4">
                                    <li class="list-group-item bg-transparent border-0" > <i class="bi bi-caret-right-fill pe-3 bi-listing"></i> Italian: <span class="coloring">Native</span></li>
                                    <li class="list-group-item bg-transparent border-0"><i class="bi bi-caret-right-fill pe-3 bi-listing"></i> English: <span class="coloring">B2-C1</span></li>
                                </ul>

                                <h3 class="pt-5 pb-3 about-me container-fluid" style="font-size: 18px; color: white;">Customers <span class="coloring">Feedback</span></h3>

                                <div id="carouselExampleSlidesOnly" class="carousel slide"  data-bs-ride="carousel">
                                    <div class="carousel-inner text-white-50" style="font-size:15px ;">
                                      <div class="carousel-item active">
                                        <i class="bi bi-quote coloring" style="position: absolute; font-size: 30px;z-index: index 999; ; top: -7px;"></i>

                                        <p class="border border-secondary border-2 p-4">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                             Sapiente non libero, deleniti ea maiores quasi cumque doloribus autem,
                                             iure ratione deserunt possimus? Expedita in rerum voluptate non doloribus. Quod, vitae.
                                        </p>
                                        
                                        <div class="pt-2">
                                            <div class=" pe-4" style="float: left">
                                                <img src="https://resizing.flixster.com/k-5fch1dcEXKR3QTC1BB5iY_YsU=/2329x2484/v1.cjs0OTMxODtqOzE4NTg1OzEyMDA7MjMyOTsyNDg0" alt="user" class="img-fluid" width="50px" style="vertical-align: middle; border-radius: 50%;">
                                            </div>
                                            <div>
                                                <h3 class="text-white align-items-center" style="font-size: 15px; vertical-align: middle;"> Lady Gaga</h3>
                                                <span style="vertical-align: middle;">Client 1</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item ">
                                        <i class="bi bi-quote coloring" style="position: absolute; font-size: 30px;z-index: index 999; ; top: -7px;"></i>

                                        <p class="border border-secondary border-2 p-4">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                             Sapiente non libero, deleniti ea maiores quasi cumque doloribus autem,
                                             iure ratione deserunt possimus? Expedita in rerum voluptate non doloribus. Quod, vitae.
                                        </p>
                                        
                                        <div class="pt-2">
                                            <div class=" pe-4" style="float: left">
                                                <img src="https://menshairstyleswag.com/wp-content/uploads/2018/10/chris-evans-hairstyle.jpg" alt="user" class="img-fluid"  width="50px" style="vertical-align: middle; border-radius: 50%;">
                                            </div>
                                            <div>
                                                <h3 class="text-white align-items-center" style="font-size: 15px; vertical-align: middle;">Chris Evans</h3>
                                                <span style="vertical-align: middle;">Client 2</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item ">
                                        <i class="bi bi-quote coloring" style="position: absolute; font-size: 30px;z-index: index 999; ; top: -7px;"></i>

                                        <p class="border border-secondary border-2 p-4">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                             Sapiente non libero, deleniti ea maiores quasi cumque doloribus autem,
                                             iure ratione deserunt possimus? Expedita in rerum voluptate non doloribus. Quod, vitae.
                                        </p>
                                        
                                        <div class="pt-2">
                                            <div class=" pe-4" style="float: left">
                                                <img src="https://variety.com/wp-content/uploads/2020/12/RuPaul.png?w=855" alt="user" class="img-fluid" width="50px" style="vertical-align: middle; border-radius: 50%;">
                                            </div>
                                            <div>
                                                <h3 class="text-white align-items-center" style="font-size: 15px; vertical-align: middle;"> Ru-Paul</h3>
                                                <span style="vertical-align: middle;">Client 3</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                  </div>
                
                                
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</div>
